/**
 * @section Theme Variables
 */

$color-background: #15191f;
$color-surface: #1e242d;
$color-border: #343d49;
$color-text: #c3cbd5;
$color-heading: #f4f7fb;
$color-accent: #55a8ff;
$color-accent-dark: #1476d4;
