/**
 * @section Variable Styles
 */

/* colors */

$black: #000;
$grey-very-dark: #222;
$grey-dark: #333;
$grey-medium: #666;
$grey-light: #999;
$grey-very-light: #ccc;
$grey-really-light: #eee;
$white: #fff;
$blue-light: #0078f8;
$blue-dark: #0069d9;

/* extend */
